
body,html {
    height: 100%;
    margin :0;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    
}

header
{
    display: flex;
    justify-content: space-around;
    margin: 0 0 2rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    
}

.calcBoard
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
    width: 50vh;
    height: 80vh;
    align-self:center;
    border-radius: 30px;
    box-shadow:5px 10px 5px  #888888;
    background-color: rgba(248, 111, 255, 0.554);
    
    
}

.answerDisplay
{
    display: flex;
    flex-direction: column;
    border: rgb(0, 0, 0) 4px solid;
    border-radius: 1rem;
    width: 90%;
    margin: 20px 20px 0 20px;
    height: 20%;
    background-color: aliceblue;
    justify-content: space-between;

}

.inputOutput
{
 font-family:'Courier New', Courier, monospace;
 margin: 20px;
}
#input
{
    min-height: 20%;
    font-size: x-large;
}
#output
{
    min-height: 20%;
    text-align: end;
    font-size: xxx-large;
    font-weight: bold;
}




footer
{
    margin: 2em 0 0 0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header,footer
{
    background-color: rgb(114, 216, 187);
}

/*
.buttonBoard,.nums,footer,.calcBoard,header,.numserase
{
    border: red 2px solid;
}
*/

.buttonBoard
{
    display: grid ;
    grid-template-columns:10vh 10vh 10vh 10vh;
    grid-template-rows: 10vh 10vh 10vh 10vh;
    column-gap: 1em;
    row-gap: 1em;
    margin:  0 2em 1em 2em;
}
.eraser
{
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
}
.numserase
{
    padding: 20px 16%;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 17px;
    background-color: white;
    
}

.nums
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
    border-radius: 17px;
    box-shadow: 2px;
    background-color: white;
}

.nums:hover,.numserase:hover
{
    background-color: rgb(47, 198, 183);
    color: #f7ece1;
    cursor: pointer;
}
.nums,.numserase,.calcBoard
{
    border: black 3px solid;
}

